h1 {

    position: relative;
    left: 450px;
    color: brown; font-size: 70px;
    align-items: center;
       }
       img{
        position: relative;
        left: 700px;
        
       }
    
       body{
        background-color: bisque;
       }
       h2{
        color: brown;
       }
       h3{
        color: brown;
       }
       h4{
        color:brown;
        font-family: Georgia, 'Times New Roman', Times, serif;
       }
       p{
        font-style: italic;
        font-size: 25px;
        font-family: Georgia, 'Times New Roman', Times, serif;
       }
       header{
        background-color:blanchedalmond
       }
       ;
       